<div class="container">
  <%= simple_form_for @mood do |p| %>
    <div class="mood-form">
      <%= p.input :rating, as: :radio_buttons,
                          collection: [['1', 'ðŸ˜¢'],
                                       ['2', 'ðŸ’©'],
                                       ['3', 'ðŸ˜¡'],
                                       ['4', 'ðŸ˜'],
                                       ['5', 'ðŸ˜Š'],
                                       ['6', 'ðŸ˜€']],
                          label_method: :second,
                          value_method: :first,
                          wrapper_html: { class: 'radio-buttons' },
                          required: true %>
    </div>
    <%= p.input :journal_entry, required: true %>
    <%= p.hidden_field :id, value: @mood.id %>
    <%= p.hidden_field :date, value: @mood.date %>
    <%= p.button :submit, "Submit Mood", class: "btn-gradient my-3" %>
  <% end %>
  <%= link_to "Cancel", mood_path(date: (params[:date])) if action_name == "edit"%>
</div>
