<div class="container">
  <h1 class="date-today"><%= @date.strftime("%b %d") %></h1>

  <div class="emoji">
    <h3>Today you are feeling:</h3>
    <div class="emoji_img"><%= @emoji %></div>
  </div>
  <span class="emoji moon" role="img" aria-label="moon phases"></span>

  <div class="journal">
    <h3>Your daily thoughts</h3>
    <p><em>A space for self reflection...</em></p>
    <div class="moon-data">
      <div class="info-card my-3 mx-2">
      <%= @mood.journal_entry %>
      </div>
    <div class="my-3">
      <%= link_to "Edit Mood", edit_mood_path(date: params[:date]), class: "btn-gradient"  %>
    </div>

    <!-- Tabs -->
    <div class="moon-nav">
      <%= link_to day_path(date: params[:date]) do %>
          <i class="fas fa-arrow-left"> </i>
      <% end %>
      <%= link_to day_path(date: params[:date]) do %>
          <i class="far fa-circle"> </i>
      <% end %>
      <i class="fas fa-circle"></i>
      <%= link_to events_path(date: params[:date]) do %>
        <i class="far fa-circle"> </i>
      <% end %>
      <%= link_to events_path(date: params[:date]) do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
    </div>
  </div>
</div>
