<div class="container">
  <div class="date-navigation">
    <% if params[:date] %>
      <%= link_to mood_path(date: (params[:date].to_date - 1)) do %>
        <i class="fas fa-arrow-left"> </i>
      <% end %>
      <h1 class="date-today"><%= params[:date].to_date.strftime("%b %d") %>, <%= Time.now.strftime("%H:%M") %></h1>
      <%= link_to mood_path(date: (params[:date].to_date + 1)) do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
    <% end %>
  </div>

  <div class="emoji">
    <h2>Today you are feeling:</h2>
    <div class="emoji_img">
      <% if @emoji == "ðŸ˜¢" %>
        <% sad_class = "sad"%>
          <div class='<%= sad_class %>'></div>
      <% elsif @emoji == "ðŸ’©" %>
        <% shit_class = "shit"%>
          <div class='<%= shit_class %>'></div>
      <% elsif @emoji == "ðŸ˜¡" %>
        <% angry_class = "angry"%>
          <div class='<%= angry_class %>'></div>
      <% elsif @emoji == "ðŸ˜" %>
        <% neutral_class = "neutral"%>
          <div class='<%= neutral_class %>'></div>
      <% elsif @emoji == "ðŸ˜Š" %>
        <% good_class = "good"%>
          <div class='<%= good_class %>'></div>
      <% else @emoji == "ðŸ˜€" %>
        <% happy_class = "happy"%>
          <div class='<%= happy_class %>'></div>
      <% end %>
    </div>
  </div>

  <div class="journal">
    <div class="journal_text"><h3>Your daily thoughts</h3></div>
    <p><em>A space for self reflection...</em></p>
    <div class="moon-data">
      <div class="info-card my-3">
      <%= @mood.journal_entry %>
    </div>
    <div class="my-3">
      <%= link_to "Edit Mood", edit_mood_path(date: params[:date]), class: "btn-gradient"  %>
    </div>
  </div>
</div>

<!-- Tabs -->
<div class="tab-mood"><%= render "tabs" %></div>
