<div class="container">
  <h1><%= Time.now.strftime("%b %d, %H:%M") %></h1>

  <div class="emoji">
    <h3>Today you are feeling:</h3>
    <%= @emoji %>
  </div>

  <div class="journal">
    <h3>Your daily thoughts</h3>
    <p><em>A space for self reflection...</em></p>
      <div class="journal-entry">
      <%= @mood.journal_entry %>
      </div>
  </div>
  <div><%= link_to "Edit", edit_moods_path(@mood) %></div>
  <div><%= link_to "Back to Day View", day_path(@mood) %></div>
</div>
