<div class="container">
  <h1 class="date-today"><%= @date.strftime("%b %d") %></h1>

  <div class="emoji">
    <div class="emoji_main_text"><h3>Today you are feeling:</h3></div>
    <div class="emoji_img">
      <% if @emoji == "ðŸ˜¢" %>
        <% sad_class = "sad"%>
          <div class='<%= sad_class %>'></div>
      <% elsif @emoji == "ðŸ’©" %>
        <% shit_class = "shit"%>
          <div class='<%= shit_class %>'></div>
      <% elsif @emoji == "ðŸ˜¡" %>
        <% angry_class = "angry"%>
          <div class='<%= angry_class %>'></div>
      <% elsif @emoji == "ðŸ˜" %>
        <% neutral_class = "neutral"%>
          <div class='<%= neutral_class %>'></div>
      <% elsif @emoji == "ðŸ˜Š" %>
        <% good_class = "good"%>
          <div class='<%= good_class %>'></div>
      <% else @emoji == "ðŸ˜€" %>
        <% happy_class = "happy"%>
          <div class='<%= happy_class %>'></div>
      <% end %>
    </div>
  </div>

  <div class="journal">
    <div class="journal_text"><h3>Your daily thoughts</h3></div>
    <p><em>A space for self reflection...</em></p>
    <div class="moon-data">
      <div class="info-card my-3 mx-2">
      <%= @mood.journal_entry %>
    </div>
    <div class="my-3">
      <%= link_to "Edit Mood", edit_mood_path(date: params[:date]), class: "btn-gradient"  %>
    </div>
  </div>
</div>

<!-- Tabs -->
<%= render "tabs" %>
