<div class="container page" style="margin-bottom: 80px">
  <div class="date-navigation">
    <% if params[:date] %>
      <%= link_to mood_path(date: (params[:date].to_date - 1)) do %>
        <i class="fas fa-arrow-left"> </i>
      <% end %>
      <h1 class="date-today my-3"><%= params[:date].to_date.strftime("%b %d") %></h1>
      <%= link_to mood_path(date: (params[:date].to_date + 1)) do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
    <% end %>
  </div>

  <div class="emoji">
    <h3>Today you are feeling</h3>
    <div class="emoji_img">
      <div class="<%= @emoji_class %>"></div>
    </div>
  </div>

  <div class="journal">
    <div class="journal_text"><h3>Your daily thoughts</h3></div>
    <p><em>A space for self reflection...</em></p>
    <div class="moon-data">
      <div class="info-card my-3">
      <%= @mood.journal_entry %>
    </div>
    <div class="my-3">
      <%= link_to "Edit Mood", edit_mood_path(date: params[:date]), class: "btn-gradient"  %>
    </div>
  </div>
</div>

<!-- Tabs -->
<%= render "tabs" %>
