<div class="container">
  <h1><%= Time.now.strftime("%b %d, %H:%M") %></h1>

  <div class="emoji">
    <h3>Today you are feeling:</h3>
    <%= @emoji %>
  </div>

  <div class="journal">
    <h3>Your daily thoughts</h3>
    <p><em>A space for self reflection...</em></p>
      <div class="journal-entry">
      <%= @mood.journal_entry %>
      </div>
  </div>
  <div class="my-3">
    <%= link_to "Edit Mood", edit_mood_path %>
  </div>

  <div class="container navigation">
    <%= link_to "Day", day_path, class:"btn btn-dark" %>
    <%= link_to "Month", month_path, class:"btn btn-dark" %>
    <%= link_to "Stats", stats_path, class:"btn btn-dark" %>
  </div>
</div>
