<div class="container">
  <div class="date-navigation">
    <% if params[:date] %>
      <%= link_to day_path(date: (params[:date].to_date - 1)) do %>
        <i class="fas fa-arrow-left"> </i>
      <% end %>
      <h1 class="date-today"><%= params[:date].to_date.strftime("%b %d") %>, <%= Time.now.strftime("%H:%M") %></h1>
      <%= link_to day_path(date: (params[:date].to_date + 1)) do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
    <% end %>
  </div>
  <!-- Fetch daily horoscope -->
  <div class="info-card my-3 mx-2"><%= @daily_horoscope %></div>
</div>

<div class="container moon-data">
  <% moon_today = Moon.where(date: params[:date], location: current_user.location.delete(' ')).first %>
  <%= image_tag moon_today.moon_phase_img, class: "moon-image", width: "100px" %>
  <br><br>
  <p>Location: <strong><%= moon_today.display_location %></strong></p>
  <% if moon_today.moonrise %>
    <p>Moonrise: <%= moon_today.moonrise.strftime("%H:%M %Z") %></p>
  <% else %>
    <p>Moonrise: No moonrise today</p>
  <% end %>
    <% if moon_today.moonset %>
    <p>Moonset: <%= moon_today.moonset.strftime("%H:%M %Z")%></p>
  <% else %>
    <p>Moonset: No moonset today</p>
  <% end %>

  <p>Moonphase: <%= moon_today.phase %> - <%= moon_today.moon_phase_name %></p>
  <p>Vedic Moon Sign: <%= moon_today.moon_sign %></p>

</div>

<!-- Tabs -->
<%= render "tabs" %>
