<div class="container">

  <h1 class="date-today"><%= Time.now.strftime("%b %d, %H:%M") %></h1>
  <%# Fetch daily horoscope %>

  <div class="info-card my-3"><%= @daily_horoscope %></div>
</div>

<div class="container moon-data">
  <img src="<%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moon_phase_img %>" class="moon-image" alt="no icon available" width="100px" margin="20px">
  <br><br>
  <p>Location: <strong><%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.display_location %></strong></p>
  <p>Moonrise: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moonrise.strftime("%H:%M %Z") %></p>
  <p>Moonset: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moonset.strftime("%H:%M %Z")%></p>
  <p>Moonphase: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.phase %> - <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moon_phase_name %></p>
  <p> Vedic Moon sign: <%= @moon_sign %></p>

  <div class="my-3">
    <%= link_to "Add Today's Mood", mood_path %>
  </div>
  <div class="my-3">
    <%= link_to "See Your Events", events_path %>
  </div>
</div>
