<div class="container page">
  <div class="date-navigation">
    <% if params[:date] %>
      <%= link_to day_path(date: (params[:date].to_date - 1)) do %>
        <i class="fas fa-arrow-left"> </i>
      <% end %>
      <h1 class="date-today my-3"><%= params[:date].to_date.strftime("%b %d") %></h1>
      <%= link_to day_path(date: (params[:date].to_date + 1)) do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
    <% end %>
  </div>

  <div class="title-location"><p><%= @moonlocation %></p></div>

  <div class="info-card my-3 mx-2">
    <%= @daily_horoscope %>
  </div>

  <div class="container moon-data">
    <div class="d-flex justify-content-between w-100 px-2">
      <div><h4>Moonrise</h4> <p><%= @moonrise %></p></div>
      <div><h4>Moonset</h4> <p><%= @moonset %></p></div>
    </div>
    <%= image_tag @moonimage, class: "moon-image", width: "100px" %>
    <div class="d-flex justify-content-between w-100 px-2">
      <div><h4>Moonphase</h4><p> <%= @moonphase %></p></div>
      <div><h4>Moon Sign</h4> <p><%= @moonsign %></div>
    </div>
  </div>
  <%= render "tabs" %>
</div>
