<div class="container">
  <h1><%= Time.now.strftime("%b %d, %H:%M") %></h1>
  <%# Fetch daily horoscope %>
  <div class="info-card my-3"><%= @daily_horoscope %></div>
</div>
<div class="container moon-data">
  <img src="<%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moon_phase_img %>" alt="no icon available" width="100px" margin="20px">
  <br><br>
  <p>Location: <strong><%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.display_location %></strong></p>
  <p>Moonrise: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moonrise %></p>
  <p>Moonset: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moonset%></p>
  <p>Moonphase: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.phase %> - <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moon_phase_name %></p>
  <%# <p>Sunrise: <%= @moon_data["sunrise"] %></p>
  <%# <p>Sunset: <%= @moon_data["sunset"] %></p>
  <div class="my-3">
    <%= link_to "Add Today's Mood", mood_path %>
  </div>
</div>

<div class="container navigation">
  <%= link_to "Day", day_path, class:"btn btn-dark" %>
  <%= link_to "Month", month_path, class:"btn btn-dark" %>
  <%= link_to "Stats", stats_path, class:"btn btn-dark" %>
</div>
