<div class="container">
  <h1>Today's moon:</h1>
  <%# Time.now.strftime("%d/%m/%Y %H:%M") %>
    <h3><%= Date.today.strftime('%A') %>,</h3>
    <h3><%= Date.today.strftime(' %B %d, %Y') %></h3>
  <img src="/assets/moon1_new.png" alt="no icon available" width="30px">
  <img src="/assets/moon2_waxingcrescent.png" alt="no icon available" width="30px">
  <img src="/assets/moon3_firstquarter.png" alt="no icon available" width="30px">
  <img src="/assets/moon4_waxinggibbous.png" alt="no icon available" width="30px">
  <img src="/assets/moon5_full.png" alt="no icon available" width="30px">
  <img src="/assets/moon6_waninggibbous.png" alt="no icon available" width="30px">
  <img src="/assets/moon7_lastquarter.png" alt="no icon available" width="30px">
  <img src="/assets/moon8_waningcrescent.png" alt="no icon available" width="30px">
  <div class="info-card my-3"><%= @daily_horoscope %></div>
</div>
<div class="container moon-data">
  <img src="<%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moon_phase_img %>" alt="no icon available" width="100px" margin="20px">
  <br><br>
  <p>Location: <strong><%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.display_location %></strong></p>
  <p>Moonrise: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moonrise %></p>
  <p>Moonset: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moonset%></p>
  <p>Moonphase: <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.phase %> - <%= Moon.where(date: Date.today, location: current_user.location.delete(' ')).first.moon_phase_name %></p>
  <p>Moon sign: <%= @moon_sign %></p>
  <br>
</div>

<div class="container navigation">
  <%= link_to "Day", day_path, class:"btn btn-dark" %>
  <%= link_to "Month", month_path, class:"btn btn-dark" %>
  <%= link_to "Stats", stats_path, class:"btn btn-dark" %>
</div>
<%# <div class="container footer"> %>
  <%# <p><a href="https://www.flaticon.com/free-icons/moon" title="moon icons">Moon icons created by Freepik - Flaticon</a></p> %>
<%# </div> %>
