<div class="container">

  <h1 class="date-today"><%= params[:date].to_date.strftime("%b %d") %>, <%= Time.now.strftime("%H:%M") %></h1>

  <%# Fetch daily horoscope %>
  <div class="info-card my-3"><%= @daily_horoscope %></div>
</div>

<div class="container moon-data">
<%= image_tag Moon.where(date: params[:date], location: current_user.location.delete(' ')).first.moon_phase_img, class: "moon-image", width: "100px" %>
  <br><br>
  <p>Location: <strong><%= Moon.where(date: params[:date], location: current_user.location.delete(' ')).first.display_location %></strong></p>

  <p>Moonrise: <%= Moon.where(date: params[:date], location: current_user.location.delete(' ')).first.moonrise.strftime("%H:%M %Z") %></p>
  <p>Moonset: <%= Moon.where(date: params[:date], location: current_user.location.delete(' ')).first.moonset.strftime("%H:%M %Z")%></p>

  <p>Moonphase: <%= Moon.where(date: params[:date], location: current_user.location.delete(' ')).first.phase %> - <%= Moon.where(date: params[:date], location: current_user.location.delete(' ')).first.moon_phase_name %></p>
  <p>Vedic Moon sign: <%= @moon_sign %></p>

  <div class="moon-nav">
    <i class="fas fa-arrow-left"> </i>
    <i class="fas fa-circle">  </i>
    <%# mood link logic %>
    <% if Mood.where(date: params[:date], user_id: current_user.id) %>
        <%= link_to mood_path do %>
          <i class="far fa-circle"></i>
        <% end %>
      <% elsif %>
        <%= link_to new_mood_path do %>
          <i class="far fa-circle"></i>
        <% end %>
    <% end %>
      <%= link_to events_path do %>
        <i class="far fa-circle"> </i>
      <% end %>
      <%= link_to mood_path do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
  </div>
</div>
