<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mx-3">
  <% if user_signed_in? %>
    <%= link_to "/", class: "nav-link" do %>
      Hi, <%= current_user.first_name.capitalize %>!
    <% end %>
    <li class="nav-item dropdown">
      <%= image_tag "moon1_new.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "My Profile", root_path, class: "dropdown-item" %>
        <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item", data: { turbo_method: :delete } %>
      </div>
    </li>
  <% else %>
    <div>
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
    </div>
    <div>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
  <% end %>
</div>
