<div class="container page">
  <div class="cards">
    <div class="date-navigation">
    <% if params[:date] %>
      <%= link_to events_path(date: (params[:date].to_date - 1)) do %>
        <i class="fas fa-arrow-left"> </i>
      <% end %>
      <h1 class="date-today my-3"><%= params[:date].to_date.strftime("%b %d") %></h1>
      <%= link_to events_path(date: (params[:date].to_date + 1)) do %>
        <i class="fas fa-arrow-right"> </i>
      <% end %>
    <% end %>
  </div>
    <% if @events == [] %>
      <p style="text-align: center; margin: 50px 0"><em>You don't have any events planned for today</em></p>
    <% else %>
      <% @events.each do |event| %>
        <%= link_to edit_event_path(event), class: "a-card" do %>
          <div class="info-card my-3 mx-2">
            <%= event.start_time.strftime("%H:%M") %> - <%= event.end_time.strftime("%H:%M") %>
            <h3><%= event.title %></h3>
            <p><%= event.description %></p>
            <%= link_to "Remove Event",
                              event_path(event),
                              method: :delete,
                              data: { confirm: "Are you sure you want to delete this event?"} %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="btn-wrapper">
      <div class="my-3">
      <%= link_to "Add Event", new_event_path(date: params[:date]), class: "btn-gradient" %>
    </div>
  </div>

  <!-- Tabs -->
  <%= render "tabs" %>
</div>
