<div class="container page">
  <div class="date-navigation pt-3">
    <h1 class="date-today"><%= Time.now.strftime("%b %d") %></h1>
  </div>

  <div class="info-card">
  <div class="card-header">
    <h4>Your best phase of the moon cycle...</h4>
      <p><%= image_tag @best_phase_img, width: "32px", height: "32px" %></p>
    </div>
    <p>You tend to feel the best (🥳 + 😀) when the moon is <strong class="text_highlights"><%= @best_phase %></strong>. Make sure to checkout when the moon will be <%= @best_phase %> this month to see if this pattern continues.</p>
  </div>


  <% if @poop_phase != @best_phase %>
  <div class="info-card">
    <div class="card-header">
      <h4>Be Mindful of...</h4>
      <%= image_tag @mad_phase_img, width: "32px", height: "32px" %>
      </div>
      <p>Make sure to do some extra self-care time when the moon is <strong class="text_highlights"><%= @poop_phase %></strong>. The data shows that this phase of the moon cycle when you tend to feel the crappiest (💩) .</p>
    </div>
  <% elsif @poop_phase != @mad_phase %>
    <div class="info-card">
      <div class="card-header">
      <h4>Be Mindful of...</h4>
      <%= image_tag @mad_phase_img, width: "32px", height: "32px" %>
      </div>
      <p>Make sure to do some extra self-care time when the moon is <strong class="text_highlights"><%= @mad_phase %></strong>. The data shows that this phase of the moon cycle that you become the most irritated (😡).</p>
    </div>
  <% else %>
  <% end %>

  <div class="info-card my-2">
    <div class="card-header">
      <h4>Look to the signs...</h4>
      <h4 style="font-size: 32px;"><%= @moon_zodiac %></h4>
    </div>
  <p>The moon moves to a different zodiac sign every two-and-a-half days. When the moon is in <strong class="text_highlights"><%= @best_sign %></strong> you find that you are happiest and most content. Make the most of this phase by doing the things that you love and spreading good energy.</p>
  </div>

  <div class="info-card">
    <div class="card-header">
      <h4>Your week at a glance...</h4>
    </div>
  <%= line_chart @user_moods, library: {
    colors: ['#614BA5'],
    chart: {
      backgroundColor: '#2B2B2B'
    },
    xAxis: {
      lineColor: '#614BA5',
      labels: {
        style: {
        color: 'white'
        }
      }
    },

    yAxis: {
      gridLineColor: 'transparent',
        labels: {
          style: {
            color: 'transparent'
              }
            },
      minorGridLineColor: 'transparent',
      tickColor: 'transparent'
    },
    plotOptions: {
      marker: {
        lineColor: '#614BA5'
      },
    },
  }
  %>
  </div>

  <div class="info-card my-2">
    <div class="card-header">
      <h4>Your personal moon cycle...</h4>
    </div>
    <div class="card-header my-3 px-2">
      <%= image_tag "moon1new.png", alt: "New Moon", style: "width: 35px;" %>
      <%= image_tag "moon3firstquarter.png", alt: "First Quarter", style: "width: 35px;" %>
      <%= image_tag "moon5full.png", alt: "Full Moon", style: "width: 35px;" %>
      <%= image_tag "moon7lastquarter.png", alt: "Last Quarter", style: "width: 35px;" %>
    </div>
    <div class="card-header my-3 px-2">
      <div style="font-size: 35px;"><%= @mood_new_moon || "<div style='font-size: 12px; text-align: center'><em>no</br>data</em></div>".html_safe %></div>
      <div style="font-size: 35px;"><%= @mood_first_quarter || "<div style='font-size: 12px; text-align: center'><em>no</br>data</em></div>".html_safe %></div>
      <div style="font-size: 35px;"><%= @mood_full_moon || "<div style='font-size: 12px; text-align: center'><em>no</br>data</em></div>".html_safe %></div>
      <div style="font-size: 35px;"><%= @mood_last_quarter || "<div style='font-size: 12px; text-align: center'><em>no</br>data</em></div>".html_safe %></div>
    </div>
  </div>
</div>
