<div class="simple-calendar">
  <div class="date-navigation">
    <div class="previous">
      <%= link_to calendar.url_for_previous_view do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
    </div>
    <div class="date">
      <h1 class="date-today my-3"><%= I18n.t("date.abbr_month_names")[start_date.month] %> <%= start_date.year %></h1>
    </div>
    <div class="next">
      <%= link_to calendar.url_for_next_view do %>
        <i class="fas fa-arrow-right"></i>
      <% end %>
    </div>
  </div>

  <table class="table table-striped" >
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each_with_index do |day, index| %>
            <span class="days"><%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <%= link_to day_path(date: day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>

                <div class="event-label">
                  <% event_day = Event.where(start_time: day) %>
                  <% event_day += Event.where(date: day) %>
                  <% if event_day != [] %>•
                  <% end %>
                </div>

                <% moon_day = Moon.where(date: day, location: current_user.location.delete(' ')).first %>
                <% if moon_day %>
                  <div class="image">
                    <%= image_tag "#{moon_day.moon_phase_img}", width: "25px" %>
                  </div>
                  <div class="caption">
                    <% if moon_day.phase.to_f <= 0.5 %>
                      <%= (moon_day.phase.to_f * 200).round(0) %>%
                    <% else %>
                      <%= ((1 - moon_day.phase.to_f) * 200).round(0) %>%
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
            </span>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
