<img src="/assets/moon1new.png" alt="New Moon" width="160px">
<h2>Daily Moon</h2>
<img src="/assets/moon2_waxingcrescent.png" alt="Waxing Crescent" width="32px">
<img src="/assets/moon3_firstquarter.png" alt="First Quarter" width="32px">
<img src="/assets/moon4_waxinggibbous.png" alt="Waxing Gibbous" width="32px">
<img src="/assets/moon5_full.png" alt="Full Moon" width="32px">
<img src="/assets/moon6_waninggibbous.png" alt="Waning Gibbous" width="32px">
<img src="/assets/moon7_lastquarter.png" alt="Last Quarter" width="32px">
<img src="/assets/moon8_waningcrescent.png" alt="Waning Crescent" width="32px">

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn-gradient" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
