<!DOCTYPE html>
<html>
  <head>
    <title>Dailymoon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= cookies[:theme] %>">
    <% if cookies[:theme] == "off" %>
      <%= link_to "go dark", root_path(theme: "light") %>
    <% else %>
      <%= link_to "go light", root_path(theme: "dark") %>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <p class="notice"><% notice %></p>
    <%= yield %>
  </body>
</html>
